<h1>All Projects</h1>

<%= div_for(@projects, class: "project-index-page") do |project| %>
  <p>
    <ul>
      <li>
      <a href = "/projects/<%= project.id %>"><%= project.name %></a>: <%= project.description %></p>
      </li>
    </ul>
<% end %>
<h3 class="yo"></h3>
<h3 class="ya"></h3>


<%=@errors%>

<%= form_for @project do |f| %>
  <%= f.label 'Project Name:' %><br>
  <%= f.text_field :name %><br>
  <%= f.label 'Project Description:' %><br>
  <%= f.text_field :description %><br>
  <%= f.submit "Submit Project", class: "newProject" %>
<% end %>


<%= render 'workers/footer' %>
