<h1><%= @project.name %>: </h1>
<h3><%= @project.description %></h3>

<% @project.companies.each do |company| %>
<p>
  <a href = "/companies/<%= company.id %>">
    <%= company.name %></a>:
  <%= company.motto %>
</p>
<% end %>

<% Worker.all.each do |worker| %>
  <% if worker.project_id == @project.id %>
    <p>
      <a href = "/workers/<%= worker.id %>">
        <%= worker.name %></a>:
      <%= worker.position %>
    </p>
  <% end %>
<% end %>

<%= link_to "Delete Project", "/projects/:id/delete"%><br>
<%= render 'workers/footer' %>
