<p>
  <%= @project.name %>: <%= @project.description %>
</p>

<% @project.companies.each do |company| %>
<p>
  <a href = "/companies/<%= company.id %>">
    <%= company.name %>
  </a>
  <%= company.motto %>
</p>
<% end %>

<% Worker.all.each do |worker| %>
  <% if worker.project_id == @project.id %>
    <p><%= worker.name %></p>
  <% end %>
<% end %>
