<h1><%= @project.name %> </h1>
<h3><%= @project.description %></h3>
<br>
<br>
<h3>Companies: </h3>
<% @project.companies.each do |company| %>
<p>
  <ul>
    <li>
      <a href = "/companies/<%= company.id %>"><%= company.name %></a>:
      <%= company.motto %>
    </li>
  </ul>
</p>
<% end %>
<h3>Workers: </h3>
<% Worker.all.each do |worker| %>
  <% if worker.project_id == @project.id %>
    <p>
      <ul>
        <li>
          <p>
          <a href = "/workers/<%= worker.id %>"><%= worker.name %></a>:
          <%= worker.position %>
          </p>
        </li>
      </ul>
    </p>
  <% end %>
<% end %>
<br>

<h3>Leader: </h3>
<% leader = Worker.most_valuable(@project.id) %>
<% if leader != nil %>
  <a href = "/workers/<%= leader.id %>"><%= leader.name %></a>
<% end %>

<br>
<br>
<br>

<%= link_to "Edit Project", edit_project_path(@project)%><br>
<%= link_to "Delete Project", @project, :method => :delete%><br>
<%= render 'workers/footer' %>
