<% if current_company %>
	<h1>All Companies</h1>

	<%= div_for(@companies, class: "company-index-page") do |company| %>
		<ul>
			<li>
				<a href = "/companies/<%= company.id %>"><%= company.name %></a>: <%= company.motto %>
			</li>
		</ul>
	<% end %>
	<%= render partial: 'workers/footer', locals: {company: current_company} %>
<% else %>
	<%= link_to "Login", login_path%><br>
	<%= link_to "Signup", signup_path %><br>
<% end %>