<h1><%= @company.name %></h1>

<h3><%= @company.motto %></h3>

<h2>Projects: </h2>
<% @company.projects.each do |project| %>
<p>
  <%= link_to project.name, project_path(project) %>
  <%= project.description %>
</p>
<% end %>

<h2>Workers: </h2>
<% @company.workers.each do |worker| %>
<p>
  <a href = "/companies/<%=@company.id%>/workers/<%= worker.id %>">
  <%= link_to worker.name, company_worker_path(@company, worker) %>
    <%= worker.name %>:</a>
  <%= worker.position %>
</p>
<% end %>
<%= render 'workers/footer' %>
