<%= div_for(@worker, class: "worker-index-page") do |worker| %>
  <%= binding.pry %>
  <p><a href = "/workers/<%= worker.id %>"><%= worker.name %></a></p>
<% end %>

<%= link_to "Log Out", "/logout"%>
