<h1>All Workers</h1>

<% Company.all.each do |company| %>
	<h3><%= company.name %></h3>
	<% company.workers.each do |worker| %>
		<ul>
			<li>
				<a href = "/workers/<%= worker.id %>"><%= worker.name %></a>: <%= worker.position %>
			</li>
		</ul>
	<% end%><br>
<% end %>

<br>
<br>
<%= render 'footer' %>
