<h1><%= @worker.name %></h1>
<h3><%= @worker.position %></ph3>

<p>
  <a href = "/companies/<%= @worker.company.id %>">
    <%= @worker.company.name %>
  </a>
  <%= @worker.company.motto %>
</p>
<p>
  <a href = "/projects/<%= @worker.project.id %>">
    <%= @worker.project.name %>
  </a>
    <%= @worker.project.description %>
</p>

<%= render 'footer' %>
