<h1 class="workerName"><%= @worker.name %></h1>
<h3 class="workerPosition"><%= @worker.position %></h3>
<h3 class="workerRating"><%= @worker.rating %></h3>

<br>
<a href="#" class="NextWorker" worker-id="<%=@worker.id%>">Next Worker</a>

<p>
  <a href = "/companies/<%= @worker.company.id %>" class="workerCompany">
    <%= @worker.company.name %>
  </a>
<!--   <%= @worker.company.motto %> -->
</p>

<% if @worker.project != nil %>
<p>
  <a href = "/projects/<%= @worker.project.id %>" class="workerProject">
    <%= @worker.project.name %>
  </a>
<!--     <%= @worker.project.description %> -->
</p>
<% end %>

<br>
<br>

<% if current_company == @worker.company %>
  <%= link_to "Edit Worker", edit_worker_path(@worker)%><br>
  <%= link_to "Delete Worker", @worker, :method => :delete%><br>
<% end %>
<%= render 'footer' %>
